@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
font-family:"viga";
src: url("/public/Fonts/Viga-Regular.woff");
}

@font-face {
font-family: "sansf";
src: url("/public/Fonts/SFUIDisplay-Medium.woff");
}


